useDynLib(IVTree, .registration = TRUE, .fixes = "C_")

export(IVTree, honest.IVTree, na.IVTree, estimate.IVTree, IVTree.matrix, honest.rparttree)

importFrom(grDevices, dev.cur, dev.off)
importFrom(graphics, plot, text)
importFrom(stats, model.frame, predict, residuals)
importFrom(rpart, rpart)
importFrom(data.table, copy)

S3method(model.frame, IVTree)